<div class="row">
  <div class="col-12">
    <div class="main">
      <div class="content">
        <h1>Come to play with us!</h1>

        <div class="" style="display: block">
          <p>Have you ever played Gama Game? It's a game of general knowledge questions and answers. It used to be played at #gamagame, an IRC (Internet Relay Chat) channel in the Brasnet network, which no longer exists</p>
          <a href="#" class="button">Start</a>
        </div>
      </div>
    </div>
  </div>
</div>
