<!DOCTYPE html>
<html>
  <head>
    <title>GamaGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="centralized">
          <ul>
            <li><a href="/"><span class="title">Gama Game</span></a></li>
            <li class="to_right"><a href="#about"><span class="links">About</span></a></li>
            <li class="to_right"><a href="#contact"><span class="links">Contact</span></a></li>
            <li class="to_right"><a href="#login"><span class="links">Login</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content centralized">
      <%= yield %>
    </div>

    <div class="footer">
      <p>This game was developed as part of the hiring process for Plataformatec's Full Stack Software Developer position</p>
    </div>
  </body>
</html>
